* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* webfont */
@font-face {
	font-family: 'Raster';
	src:  url('./fonts/FKRasterGrotesk-Smooth.woff2') format('woff2'),
		  url('./fonts/FKRasterGrotesk-Smooth.woff') format('woff');
}

:root {
    --color: white;
}

body {
    background-color: black;
    color: var(--color);
    font-family: 'Raster', monospace;
    line-height: 1.2;
}

form, label, input, button, select {
    display: block;
    color: inherit;
    font: inherit;
    box-sizing: border-box;
    background: transparent;
}

a {
    text-decoration: inherit;
    color: inherit;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a.button {
    padding: 0.5em 1em;
    background-color: #fff;
    color: black;
    display: inline-block;
    width: unset;
    border-radius: 2em;
}